<div class="about-container">
  <app-nav [darkBackground]="true" id="contacts-nav" class="mb60"></app-nav>
  <div class="about-content">
    <div class="about-description">
      <h1 class="mb20">About Our Restaurant</h1>
      <p class="mb30">Welcome to BAK-LAN Noodles, your go-to destination for authentic, handcrafted ramen that warms the soul.
        Inspired by the rich culinary traditions of East Asia, we bring you a unique dining experience where every bowl tells a story.
        <br><br>
        At BAK-LAN, we believe in the art of ramen-making.
        Our broths are simmered for hours to achieve the perfect depth of flavor, while our noodles are freshly prepared to deliver that ideal chewy texture.
        From classic tonkotsu to spicy miso and vegan-friendly options, our menu offers something for everyone.
        <br><br>
        But we’re more than just ramen.
        Explore our selection of flavorful sides, from crispy gyoza to savory bao buns, and pair your meal with refreshing drinks or traditional sake.
        <br><br>
        Whether you’re a ramen enthusiast or new to the world of noodles, BAK-LAN Noodles invites you to savor every bite in a cozy, modern setting.
        <br>Come for the ramen, stay for the experience.
      </p>
      <q>Crafted with Passion, Served with Heart.</q>
    </div>

    <div class="about-address">
      <h2 class="mb20">Our Address</h2>
      <p>123 Main Street, Food City, FC 56789</p>
    </div>
  </div>
  </div>
