:host {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto 1fr ;
  gap: 24px;
  height: 100vh;
}

.image-bg {
  grid-column: span 5;
  grid-row: 1 / -1;
  background-image: url('/assets/images/bg3.jpg');
  background-color: var(--background-img-filter);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  position: sticky;
  background-attachment: local;
  top: 0;
}

#contacts-nav {
  grid-column: span 7;
  grid-row: 1;
  margin-bottom: 0;
}

#contacts-heading {
  grid-column: span 3;
  grid-row: 2;
  text-align: left;
}

.about-container {
  grid-column: span 6;
  grid-row: 3;
  & q{
    font-family: var(--font-family-secondary), serif;
  }
  & h1 {
    font-size: 36px;
  }
  & h1, h2 {
    font-family: var(--font-family-heading), serif;
  }
  & h2 {
    font-size: 30px;
  }
  & q {
    font-size: 26px;
  }
  & p {
    font-size: 20px;
  }
}

.about-content {
  width: 100%;
  padding: 20px 60px;
}
