.cart-item {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  align-items: center;
  gap: 16px;
  padding: 12px;
  margin-bottom: 16px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  font-family: var(--font-family-main), sans-serif;

  button {
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background: none;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
  }

  &__controls {
    display: flex;
    gap: 12px;
    }
}

#cart-quantity {
  font-size: 16px;
  line-height: 24px;
  font-family: var(--font-family-numbers), sans-serif;
}

#cart-price {
  font-family: var(--font-family-heading), sans-serif;
  font-size: 16px;
}
