<div class="cart-item">
  <img [src]="item.image" [alt]="item.name" class="cart-item__image">

  <h3 class="cart-item__title">{{ item.name }}</h3>

  <div class="cart-item__controls">
    <button *ngIf="item.quantity > 1" (click)="decreaseQuantity()">
      <img ngSrc="/assets/svg/remove.svg" alt="remove" height="24" width="24">
    </button>
    <span id="cart-quantity">{{ item.quantity }}</span>
    <button (click)="increaseQuantity()">
      <img ngSrc="/assets/svg/add.svg" alt="add" height="24" width="24">
    </button>
  </div>

  <span id="cart-price">${{ item.price * item.quantity | number: '1.2-2' }}</span>

  <button (click)="removeFromCart()">
    <img ngSrc="/assets/svg/delete.svg" alt="delete" height="24" width="24">
  </button>
</div>
