<div class="image-bg"></div>

<nav class="nav mb50">

  <div class="logo">
    <img src="/assets/svg/logo_black.svg" alt="logo">
  </div>

  <div class="nav-buttons">
    <a class="nav-button">Menu</a>
    <a class="nav-button">Contacts</a>
    <a class="nav-button">Cart</a>
  </div>

</nav>

<div class="heading mb20">
  <h1 class="title">These tasty noodles are heckin' good</h1>
  <p class="subtitle">Try them yourself. Seriously</p>
</div>

<a href="" class="order-button">
  Order w/ Uber Eats
</a>
