<div class="dish-card">
  <div class="dish-image">
    <img [src]="dish.image" [alt]="dish.name">
  </div>

  <div class="dish-content">
    <h3 class="dish-title">{{ dish.name }}</h3>
    <p class="dish-description">{{ dish.description }}</p>

    <div class="dish-footer">
      <span class="dish-price">${{ dish.price }}</span>

      <button class="add-to-cart" [class.in-cart]="isInCart()" (click)="toggleCart()">
        <img *ngIf="!isInCart()" src="/assets/svg/cart.svg" alt="Add to Cart" height="24" width="24">
        <img *ngIf="isInCart()" src="/assets/svg/done.svg" alt="Added" height="24" width="24">
      </button>

    </div>
  </div>
</div>
