@font-face {
  font-display: swap;
  font-family: 'Aclonica';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Aclonica-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Actor';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Actor-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'ADLaMDisplay';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/ADLaMDisplay-Regular.ttf') format('truetype');
}
