// Top margins
.mt20 {
  margin-top: 20px;
}

// Right margins
.mr30 {
  margin-right: 30px;
}

// Bottom margins
.mb16 {
  margin-bottom: 16px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

// Left margins
.ml16 {
  margin-left: 16px;
}

// Horizontal margins
.mh30 {
  margin-right: 30px;
  margin-left: 30px;
}
