// Bottom margins
.mb16 {
  margin-bottom: 16px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb32 {
  margin-bottom: 32px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

// Left margins
.ml16 {
  margin-left: 16px;
}

// Top margins
.mt20 {
  margin-top: 20px;
}
