@import "fonts";
@import "margins";

:root {
  --font-family-main: "Actor";
  --font-family-secondary: "Aclonica";
  --font-family-heading: "ADLaMDisplay";
  --font-family-numbers: "Montserrat";
  --background-img-filter: rgba(0, 0, 0, 0.5);
  --gray-color: #444141;
  --dark-color: #1C0F0F;
  --light-color: #FAFAFA;
  --button-color: #F15B5B;
  --button-hover-color: #d95252;
  --nav-button-hover-color: #676767;
  --nav-button-hover-light-color: #b3b3b3;
  --button-transparent-hover-color: rgba(0, 0, 0, 0.05);
  --border-radius: 20px;

}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-main), sans-serif;
}

a{
  cursor: pointer;
  text-decoration: none;
}

.title {
  color: var(--dark-color);
  text-align: left;
  font-family: "AdLaMDisplay", sans-serif;
  font-size: 60px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}

.subtitle {
  color: var(--gray-color);
  text-align: left;
  font-family: "Actor", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
